<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="VersionArgumentGroup" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="SizeArgumentGroup" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    
    <!--<section name="VersionArgumentGroup" type="System.Configuration.NameValueSectionHandler" allowDefinition="Everywhere" allowLocation="true" />
    <section name="SizeArgumentGroup" type="System.Configuration.NameValueSectionHandler" allowDefinition="Everywhere" allowLocation="true"/>-->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="InvalidNumberOfArgs" value="Invalid number of arguments. Please provide valid number of Arguments"/>
    <add key="InvalidArgs" value="Invalid arguments. Please provide valid arguments"/>
  <add key="InvalidOp" value="Invalid Operation. Please provide valid arguments"/>
  </appSettings>
  <VersionArgumentGroup>
    <add key="-v"/>
    <add key="--v"/>
    <add key="/v"/>
    <add key="--version"/>
  </VersionArgumentGroup>
  <SizeArgumentGroup>
    <add key="-s" />
    <add key="--s" />
    <add key="/s" />
    <add key="--size"/>
  </SizeArgumentGroup>
</configuration>